<a href="{{ path(_link_route) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas {{ _link_icon }} fa-sm text-white-50 pr-2"></i>{{ _link_title|striptags|trans({},teebb_sbadmin2.transDomain ) }}</a>